<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
    <style>
      #wrapper {
        background-color: lightgrey;
        height: 550px;
      }
      #top {
        text-align: center;
      }
      #main {
        text-align: center;
        margin-top: 40px;
        font-size: 22px;
      }
      a {
        display: inline-block;
      }
    </style>
  </head>
  <body>
    <div id = "wrapper">
      <div id = "top">
        <h2>Oops! It looks like you were trying to find a page that doesn't exist on this website.</h2>
        <h2>But that's all right. You can click on one of the links below to go back to the website.</h2>
      </div>
      <div id = "main">
        <a routerLink = "/">Home</a> |
        <a routerLink = "/new">Add new author</a>
      </div>
    </div>
  </body>